
 #images{
    float: left;
        width: 600px;
        height: 500px;
        
    }
    .signup-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
        
    form{
        margin-left: 70%;
    }
    .Sign up{
        color: rgb(187, 20, 20);
        border-color: black;
    }
    
    #button{
        background-color: blue;
        color: white;
        border-color: black;
        
    }
    .heading {
        color: blue;
    border-color: black;
    }
    
