
        #image{
            float: left;
            width: 700px;
            height: 500px;
            padding: 10px 20px;
            }
            .zoho{
            float:right
            }
            
